.articleLink {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* .image-container {
    overflow: hidden;
    border-radius: 10px;
  }
  
  .image-wrapper {
    border-radius: 10px 10px 0 0;
    
  } */